*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
body{
	margin: 0 auto;
	background: #171619e0;
	background-size: 100% 1080px;
}

.container{
	width: 1920px;
	height: 70px;
	text-align: left;
	background-color: rgb(0 0 0 / 76%);

	position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    margin-left: 0px;
	margin-bottom: 0px;
	
}
ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;

}
ul li.active a{
	background-color: #fff;
	color: #000;
}

.btn-logout{
    border:0;
	background: rgb(77, 78, 101);
	display: block;
	text-align: center;
	border:2px solid #2ecc71;
	padding:10px 30px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: 0.5s;
	cursor:pointer;

	float: right;
	margin-top: 10px;
	margin-right: 25px;
}

.btn-logout:hover{
    background:#FE6969;
}

.team-section{
	overflow: hidden;
	text-align: center;
	padding: 60px;
}
.team-section h1{
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;
}
.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #3498db;
	margin-bottom: 40px;
}
.ps{
	margin-bottom: 40px;
}
.ps a{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%; 
}
.ps a img{
	width: 100%;
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover > img{
	filter: none;
}
.section{
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target {
	height: auto;
}
.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;

}