body{
	margin: 0 auto;
	background-image: url("../image/login.jpg");
	background-repeat: no-repeat;
	background-size: 100% 1080px;
}

.container{
	width: 450px;
	height: 420px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
	border-radius:24px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	border:0;
	background: rgb(44, 62, 80);
	display: block;
	margin:20px auto;
	text-align: center;
	border:2px solid #3498db;
	padding:14px 10px;
	width: 200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: 0.5s;
}
input[type="text"]:focus,input[type="password"]:focus{
    width:280px;
    border-color: #2ecc71;
}
.btn-login[type="submit"]{
	border:0;
	background: rgb(77, 78, 101);
	display: block;
	margin:20px auto;
	text-align: center;
	border:2px solid #2ecc71;
	padding:14px 40px;
	outline:none;
	color:white;
	border-radius:24px;
	transition: 0.5s;
	cursor:pointer;
}

.btn-login[type="submit"]:hover{
    background:#2ecc71;
}
